doctype html
html(lang='en' ng-app='phonecatApp')
  head
    script(src='/static/bower_components/angular/angular.min.js')
    script(src='/static/bower_components/angular-route/angular-route.min.js')
    script(src='/static/javascripts/app.js')
    script(src='/static/javascripts/controllers.js')
  body
    div(ng-view)

