doctype html
html
  head
    title Number of ASes
    link(href="/static/stylesheets/index.css" rel="stylesheet")
    script(src="/static/bower_components/jquery/dist/jquery.min.js")
    script(src="https://www.google.com/jsapi")
    script(src="/static/javascripts/draw.js")
  body
    #regions_div

