doctype html
html
  head
    title BGP Routing Table
    link(href='/static/stylesheets/index.css' rel='stylesheet')
    script(src='/static/bower_components/jquery/dist/jquery.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyByk9pF0cSzfG3xO6F_NXUsTY1Ladba59E')
    script(src="/static/javascripts/draw.js")
  body
    #map-canvas

