doctype html
html
  head
    title AS Interconnection
    link(href="/static/stylesheets/index.css" rel="stylesheet")
    script(src="/static/bower_components/jquery/dist/jquery.min.js")
    script(src="/static/bower_components/echarts-2.1.8/build/dist/echarts-all.js")
  body
    #regions_div
    script(src="/static/javascripts/interconnection.js")

